.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  color: #212121;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

img {
  display: block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.header {
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  border-bottom: 1px solid #ececec;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  color: #2196f3;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  margin-right: 93px;
}

.accent-black {
  color: #212121;
}

.accent-white {
  color: #ffffff;
}

.site-nav {
  display: flex;
}

.site-nav .link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover, .site-nav .link:focus {
  color: #2196f3;
}

.site-nav-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav-item .current::after {
  content: "";
  position: absolute;
  display: block;
  margin-top: 28px;
  background-color: #2196f3;
  width: 48px;
  height: 4px;
  border-radius: 2px;
}

.site-nav-item .portfolio.current::after {
  width: 78px;
  height: 4px;
  border-radius: 2px;
  margin-top: 28px;
}

.site-nav .link.current {
  color: #2196f3;
}

.contacts {
  display: flex;
}

.contacts .item {
  margin-right: 50px;
}

.contacts .link {
  color: #757575;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts .link:hover, .contacts .link:focus {
  color: #2196f3;
}

.contacts .mail-svg {
  width: 16px;
  height: 12px;
  fill: #757575;
  margin-right: 10 px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts .link:hover .mail-svg {
  fill: #2196f3;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts .link:hover .phone-svg {
  fill: #2196f3;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts .phone-svg {
  width: 10px;
  height: 12px;
  fill: #757575;
  margin-right: 10 px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects .btn {
  background-color: #f5f4fa;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;
  cursor: pointer;
  padding: 5px;
  margin-right: 8px;
  border: 0;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

ul.projects {
  display: flex;
  justify-content: center;
}

.projects .item {
  margin-top: 94px;
  margin-bottom: 50px;
}

.projects .btn:hover,
.projects .btn:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.projects .btn.current {
  background-color: #2196f3;
  color: #ffffff;
  width: 73px;
  height: 38px;
}

.projects .btn.site {
  width: 128px;
  height: 38px;
}

.projects .btn.app {
  width: 145px;
  height: 38px;
}

.projects .btn.design {
  width: 103px;
  height: 38px;
}

.projects .btn.marketing {
  width: 130px;
  height: 38px;
}

.hover-overlay {
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 294px;
  visibility: hidden;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-box {
  display: block;
  border: 1px solid #eeeeee;
}

.portfolio-box:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-section {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 94px;
}

.portfolio-section .title-list {
  color: #212121;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-section .list {
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
}

.portfolio-section-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-section-item:hover .hover-overlay,
.portfolio-section-item:focus .hover-overlay {
  transform: translateY(0);
  visibility: visible;
}

.portfolio-section-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-section-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-list {
  height: 110px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.portfolio-list:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.descrpt {
  position: relative;
  height: 294px;
  overflow: hidden;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 1.56;
  padding-left: 24px;
  padding-right: 24px;
}

.footer {
  background-color: #2f303a;
  min-height: 220px;
  padding-top: 60px;
}

.footer-container {
  margin-left: 70px;
}

.footer-nav {
  background-color: #2f303a;
  color: #ffffff;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 20px;
  margin-bottom: 9px;
}

.footer-contacts {
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
  display: block;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  margin-bottom: 9px;
  margin-top: 9px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social-list .footer-social-link {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover {
  background-color: #2196f3;
}

.footer-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer-link-svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.footer-join {
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.footer-join .footer-list-item {
  width: calc((50% - 45px) / 2);
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.footer-wrapper {
  margin-left: 60px;
}

.footer-input {
  width: 358px;
  height: 50px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  font-size: 16px;
  line-height: 1.25;
}

.footer-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
}

.footer-btn {
  width: 200px;
  height: 50px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.footer-btn-svg {
  width: 24px;
  height: 24px;
  fill: #ffffff;
  margin-left: 10px;
}
/*# sourceMappingURL=portfolio.css.map */