.footer {
	background-color: $footer-background-color;
	min-height: 220px;
	padding-top: 60px;
}

.footer-container {
	margin-left: 70px;
}
.footer-nav {
	background-color: $footer-background-color;
	color: $primary-white-color;
	font-style: normal;
	font-size: 14px;
	line-height: 1.71;
	margin-top: 20px;
	margin-bottom: 9px;
}
.footer-contacts {
	background-color: $footer-background-color;
	color: $footer-color;
	display: block;
	font-size: 14px;
	line-height: 1.71;
	text-decoration: none;
	margin-bottom: 9px;
	margin-top: 9px;
}
.footer-social-list {
	display: flex;
	justify-content: center;
	align-items: center;

	.footer-social-link {
		color: $primary-white-color;
		background-color: rgba(255, 255, 255, 0.1);
		display: flex;
		justify-content: center;
		align-items: center;
		width: 44px;
		height: 44px;
		border-radius: 50%;
		transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}
}
.footer-social-link {
	&:hover {
		background-color: $accent-color;
	}
}

.footer-list-item {
	&:not(:last-child) {
		margin-right: 10px;
	}
}
.footer-link-svg {
	width: 20px;
	height: 20px;
	fill: currentColor;
}
.footer-join {
	color: $primary-white-color;
	font-weight: bold;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
	display: inline-block;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;

	.footer-list-item {
		width: calc((50% - 45px) / 2);
		display: inline-block;
		justify-content: center;
		align-items: center;
	}
}
.footer-wrapper {
	margin-left: 60px;
}
.footer-input {
	width: 358px;
	height: 50px;
	background-color: transparent;
	color: rgba(255, 255, 255, 0.6);
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	margin-right: 12px;
	font-size: 16px;
	line-height: 1.25;

	&::placeholder {
		font-size: 16px;
		line-height: 1.25;
		color: rgba(255, 255, 255, 0.6);
		padding-left: 16px;
	}
}

.footer-btn {
	width: 200px;
	height: 50px;
	font-weight: bold;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;
	color: $primary-white-color;
	background-color: $accent-color;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	cursor: pointer;
}
.footer-btn-svg {
	width: 24px;
	height: 24px;
	fill: $primary-white-color;
	margin-left: 10px;
}
