.hero {
	text-align: center;
	padding-top: 118px;
	padding-bottom: 198px;
	background-color: $footer-background-color;
}
.hero-title {
	color: $primary-white-color;
	font-weight: 900;
	font-size: 26px;
	line-height: 1.61;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.button {
	background-color: $accent-color;
	color: $primary-white-color;
	font-weight: bold;
	font-size: 16px;
	min-width: 200px;
	min-height: 50px;
	line-height: 1.88;
	text-align: center;
	letter-spacing: 0.06em;
	text-decoration: none;
	padding: 10px 32px;
	cursor: pointer;
	border-radius: 4px;
}
.overlay {
	max-width: 1600px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url(../images/bcg-image.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

@media screen and (max-width: 767px) {
	.overlay {
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url(../images/bcg-img-mobile.jpg);
		@media screen and (min-device-pixel-ratio: 2),
		screen and (min-resolution: 192dpi),
		screen and (min-resolution: 2dppx){
background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
url(../images/bcg-img-mobile@2x.jpg);

		}
		max-width: 100%;
		height: 400px;
	}

}

@media screen and (min-width: 768px) {
	.overlay {
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url(../images/bcg-img-tablet.jpg);
		@media screen and (min-device-pixel-ratio: 2),
		screen and (min-resolution: 192dpi),
		screen and (min-resolution: 2dppx){
background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
url(../images/bcg-img-tablet@2x.jpg);
		
    max-width: 100%;
		height: 400px;
	}
}
@media screen and (min-width: 1200px) {
	.overlay {
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url(../images/bcg-image.jpg);
		@media screen and (min-device-pixel-ratio: 2),
		screen and (min-resolution: 192dpi),
		screen and (min-resolution: 2dppx){
background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
url(../images/bcg-img-desktop@2x.jpg);
	}
	.hero {
		padding-top: 200px;
		padding-bottom: 280px;
	}
	.hero-title {
		font-size: 44px;
		line-height: 1.37;
	}
}
}
}
