$primary-text-color: #212121;
$title-text-color: #757575;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$title-background-color: #f5f4fa;
$footer-color: rgba(255, 255, 255, 0.6);
$footer-background-color: #2f303a;
$logo-color: #afb1b8;
$button-color: #188ce8;
